<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zdh.hm.historydata.mapper.HistoryDataMapper">
  <resultMap id="BaseResultMap" type="com.zdh.hm.historydata.domain.HistoryData">
    <result column="standardid" jdbcType="CHAR" property="standardid" />
    <result column="sumflow" jdbcType="DECIMAL" property="sumflow" />
    <result column="flow" jdbcType="DECIMAL" property="flow" />
    <result column="pressure" jdbcType="DECIMAL" property="pressure" />
    <result column="temperature" jdbcType="DECIMAL" property="temperature" />
    <result column="firstpressure" jdbcType="DECIMAL" property="firstpressure" />
    <result column="voltage" jdbcType="DECIMAL" property="voltage" />
    <result column="datatime" jdbcType="TIMESTAMP" property="datatime" />
    <result column="bj" jdbcType="INTEGER" property="bj" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <insert id="insert" parameterType="com.zdh.hm.historydata.domain.HistoryData">
    insert into HistoryData (standardid, sumflow, flow, 
      pressure, temperature, firstpressure, 
      voltage, datatime, bj
      )
    values (#{standardid,jdbcType=CHAR}, #{sumflow,jdbcType=DECIMAL}, #{flow,jdbcType=DECIMAL}, 
      #{pressure,jdbcType=DECIMAL}, #{temperature,jdbcType=DECIMAL}, #{firstpressure,jdbcType=DECIMAL}, 
      #{voltage,jdbcType=DECIMAL}, #{datatime,jdbcType=TIMESTAMP}, #{bj,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zdh.hm.historydata.domain.HistoryData">
    insert into HistoryData
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="standardid != null">
        standardid,
      </if>
      <if test="sumflow != null">
        sumflow,
      </if>
      <if test="flow != null">
        flow,
      </if>
      <if test="pressure != null">
        pressure,
      </if>
      <if test="temperature != null">
        temperature,
      </if>
      <if test="firstpressure != null">
        firstpressure,
      </if>
      <if test="voltage != null">
        voltage,
      </if>
      <if test="datatime != null">
        datatime,
      </if>
      <if test="bj != null">
        bj,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="standardid != null">
        #{standardid,jdbcType=CHAR},
      </if>
      <if test="sumflow != null">
        #{sumflow,jdbcType=DECIMAL},
      </if>
      <if test="flow != null">
        #{flow,jdbcType=DECIMAL},
      </if>
      <if test="pressure != null">
        #{pressure,jdbcType=DECIMAL},
      </if>
      <if test="temperature != null">
        #{temperature,jdbcType=DECIMAL},
      </if>
      <if test="firstpressure != null">
        #{firstpressure,jdbcType=DECIMAL},
      </if>
      <if test="voltage != null">
        #{voltage,jdbcType=DECIMAL},
      </if>
      <if test="datatime != null">
        #{datatime,jdbcType=TIMESTAMP},
      </if>
      <if test="bj != null">
        #{bj,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zdh.hm.historydata.domain.HistoryDataExample" resultType="java.lang.Long">
    select count(*) from HistoryData
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
</mapper>